body {
    background: #3c487c;
    margin: 0px;
    padding: 0px;
    
}
	

	header >img {
	 
		margin: 0 275px ;
		}
    .b1 {
		
        padding:0;
        display:inline-block;
        width:16px;
        height:38px;
        margin-left:3px;
        margin-top:40px;
          
           background-image: url('../pic/topbg.png');
           background-repeat:repeat-x; margin-right:0; margin-bottom:0
        }

	    h1 {
        display: block; 
        text-decoration:solid;
        padding:0; 
		margin:4px; 
        text-align: right;
        font-family:Courier New Cyr,Monotype Corsiva,Arial Cyr;
        color:#fff;
        font-size:20pt;
		text-align:center;    
        }	
		
		
    .b2 {
            padding:0;
            margin:0;
           display:inline-block;
            width:195px;
           height:38px;
            margin-top:40px;
        }
    .b3 {
		
         
           display:inline-block;
           margin-top:40px;
           width:575px;
           height:58px;
           background-image: url('../pic/topbg.png');
           background-repeat:repeat-x
			}
    

		
  
	
	.con { 
		    width:800px;
		    padding-top:0px;
		    margin-left:auto;
		    margin-right:auto;
		    margin-top:0px;
		    background-image: url('../pic/bgr.jpg'); background-repeat: repeat-y;
		    color: #000   
		}
	.con p {
			margin: 0;
			padding:0 20px 15px 20px;
            text-decoration:none;
            font-size:12pt;
            text-align:justify;
            font-family:Verdana;
			}
			
	.first {
		font-weight: bold;
		}

  		ul{
		padding:0; margin:0; padding-left: 70px; padding-right:20px; font-family: verdana; font-size:12 px;
		}
	.img{
		display: block; 
		margin-left: auto; 
		margin-right: auto;
	}
	header {
		overflow: hidden;
			background-image: url('../pic/logo.jpg'); background-repeat: no-repeat;
			margin-top:7px;
			padding: 0;
			width: 800px;
			height: 600px; margin-left:auto; margin-right:auto; margin-bottom:0
         
		}

      

    footer {
			background-image: url('../pic/fotter.jpg'); background-repeat: no-repeat;
			margin:0 auto;
			padding: 0;
			width: 800px;
			height: 30px
		}

    .foot  {
        text-align:center;
        font-family:Verdana;
        font-size:10px;
        padding:20px;
        color:#8CA0F7;
		border-bottom: 1px;
            }
	